select, button {
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

select {
    width: 400px;
}

button {
    width: 400px;
    color: white;
    border: none;
}

button.download_enabled {
    background-color: #4CAF50;
    cursor: pointer;
}

button.download_enabled:hover {
    background-color: #3e8e41;
}

button.download_disabled {
    background-color: #a04b4b;
    cursor: default;
}

button.active_page {
    width: 200px;
    color: white;
    background-color: #4CAF50;
    border-style: solid;
    border-width: 1px;
}

button.other_page {
    width: 200px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

button.other_page:hover {
    background-color: #bbbbbb;
}

a.download {
    text-decoration:none;
}

body {
    text-align: center;
    margin: auto;
}

img#image-preview {
    width: 800px;
    margin-bottom: 40px;
}