select, button {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

select {
    width: 400px;
}

button {
    width: 400px;
    color: white;
    border: none;
}

button.download_enabled {
    background-color: #4CAF50;
    cursor: pointer;
}

button.download_enabled:hover {
    background-color: #3e8e41;
}

button.download_disabled {
    background-color: #a04b4b;
    cursor: default;
}

a.download {
    text-decoration:none;
}

body {
    text-align: center;
    margin: 10% auto;
}